:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory;
    scroll-behavior: smooth; */
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1 rem = 10px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco), 100%);
}

.button{
    background-color: var(--secundario);
    border-radius: .5rem;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    text-align: center;
    border: none;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w--sm-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

.button:hover{
    background-color: var(--primario);
    cursor: pointer;
}

.nav-bg{
    background-color: var(--secundario);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}

.Titulo span{
    font-size: 1.8rem;
    text-transform: uppercase;
}

footer{
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #757575;
    color: #ffffff;
    height: 100px;
}

.hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    position: relative;
    margin-bottom: 3rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, p{
    color: var(--blanco);
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .button{
        width: auto;
    }
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(105,104,105,0.55);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}


/* Tipografia */
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center;
    text-transform: uppercase;
}

p{
    color: var(--negro);
}

/** Scroll Snap **/
/* .hero, .contenedor.sombra, .formulario {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.servicios, .navegacion-principal {
    scroll-snap-align: center;
    scroll-snap-stop: always;
} */

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Contacto */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /** Utilizar el valor mas pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.formulario fieldset {
    border: none;
}

@media (min-width: 768px) {
    .campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.enviar .button {
    width: 100%;
}